name: rootfs-ubuntu-desktop-6.7

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  kernel:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            build-essential gcc-aarch64-linux-gnu bc flex bison \
            7zip kmod bash cpio binutils tar git wget dpkg libssl-dev

      - name: Build kernel (6.7-working)
        run: sudo sh nabu-kernel_build.sh 6.7-working

      - name: Upload kernel debs
        uses: actions/upload-artifact@v4
        with:
          name: xiaomi-nabu-debs_6.7-working
          path: "*.deb"

  rootfs:
    runs-on: ubuntu-latest
    needs: kernel

    steps:
      - uses: actions/checkout@v4

      - name: Download kernel artifacts
        uses: actions/download-artifact@v4
        with:
          name: xiaomi-nabu-debs_6.7-working
          path: xiaomi-nabu-debs_6.7-working

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            unzip build-essential gcc-aarch64-linux-gnu bc flex bison \
            7zip kmod bash cpio binutils tar git wget dpkg libssl-dev

      - name: Build rootfs (ubuntu-desktop + 6.7-working)
        run: sudo sh nabu-rootfs_build.sh ubuntu-desktop 6.7-working

      - name: Upload rootfs
        uses: actions/upload-artifact@v4
        with:
          name: rootfs_ubuntu-desktop_6.7-working
          path: rootfs.7z
          compression-level: 0
